@import '../../variables.scss';
$green: #7ceaa4;
$purple: #3b3d54;

$colors: $alt-color-light, $alt-color-light, $primary-color-light,
  $primary-color-dark;

.wrap {
  perspective-origin: 50% 50%;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1.4s forwards;
  animation-delay: 2s;
  aspect-ratio: 1;
}

.svg {
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

$total: 10;
@for $i from 1 through $total {
  $colorKey: random(length($colors));
  $nth: nth($colors, $colorKey);
  $scale: random(2) - 0.4;

  .svg:nth-child(#{$i}) {
    stroke-width: '19px';
    // stroke: #{$nth};
    // fill: #{$nth};
    opacity: 0.4;
    left: random(80) * 1% - 20;
    animation: raise#{$i} 6 + random(150) + s linear infinite;
    animation-delay: random(5) - 5 + s;
    // transform: scale(0.1 * $i - 0.9) rotate(random(5) + deg);
    transform: scale(0.1 * $i);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to {
        bottom: 150vh;
        // transform: scale(0.1 * $i - 0.7) rotate(random(10) + deg);
        transform: scale(0.2 * $i);
      }
    }
  }
}
