@import '../../variables.scss';

.page {
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: $primary-color-light;
  opacity: 0.6;
  position: absolute;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
}

.container {
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

// .about-page,
// .contact-page,
// .portfolio-page {
//   h1 {
//     font-size: 48px;
//     font-family: 'Coolvetica';
//     color: $primary-color-light;
//     font-weight: 400;
//     margin-top: 0;
//     margin-bottom: 40px;
//   }
//   p {
//     // font-style: 13px;
//     color: $text-color-light;
//     min-width: fit-content;
//     animation: pulse 1s;
//
//     &:nth-of-type(1) {
//       animation-delay: 1s;
//     }
//     &:nth-of-type(2) {
//       animation-delay: 1.1s;
//     }
//     &:nth-of-type(3) {
//       animation-delay: 1.2s;
//     }
//   }
//
//   .text-animate-hover {
//     &:hover {
//       color: $alt-color-light;
//     }
//   }
// }
