@import '../../variables.scss';

.logo-container {
  z-index: 0;
  aspect-ratio: 1;
  height: 459px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 1;
  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    // transform: rotateZ(30deg) !important;
  }
}
.svg-image {
  width: 100%;
  height: auto;
  bottom: 0;
  opacity: 0;

  transform-style: preserve-3d;
  animation: fadeIn 1.9s forwards;
  animation-delay: 1.3s;
  z-index: 9999;
}
//animation
@keyframes stroke {
  from {
    stroke-dashoffset: -1800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-container {
  stroke: transparent;
  stroke-width: 1;
}

/* create wrapper */
.brush-wrap {
  display: inline-block;
  padding: 3rem;
}

/* applying example animation (indefinite variant) */
.brush-wrap.brush-wrap--indefinite:before {
  clip-path: url(#clip-indefinite);
}

/* clipping/animating object (pseudo element) */
.brush-wrap:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(255, 252, 237, 1) 0%,
    rgba(245, 202, 8, 1) 35%,
    rgba(255, 214, 0, 0) 100%
  );
  z-index: -1;
  clip-path: url(#clip); /* applying clip animation */
}
