@import '../../variables.scss';

.nav-bar {
  .logo {
    img {
      display: block;
      margin: 8px auto;
      width: 54px;
      height: auto;
      filter: drop-shadow(2px 2px 1px rgba(255, 255, 255, 0.9));
    }
  }
  nav {
    width: 100%;
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 22px;
      color: $secondary-color-light;
      display: block;
      line-height: 51px;
      width: 100%;
      height: 51px;
      position: relative;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: $text-color-dark;
        svg {
          opacity: 0;
          transition: all 0.3s ease-out;
        }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        word-wrap: normal;
        font-size: 8px;
        font-weight: 400;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
      svg {
        color: $text-color-dark;
      }
    }
    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }
    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }
    a.active {
      svg {
        color: $alt-color-light;
      }
    }
  }
  ul {
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        svg {
          color: $text-color-dark;
        }

        &:hover svg {
          color: $alt-color-light;
        }
      }
    }
  }
}
