$primary-color-dark: #ffd700;
$primary-color-light: #416788;

$secondary-color-dark: #4d148c;
$secondary-color-light: #4d148c;

$alt-color-light: #ff6600;

$background-light: #ebf0fa;
$background-dark: #022c43;

$heading-color-dark: #fff;
$heading-color-light: #333;

$text-color-dark: #fff;
$text-color-light: #000;

$navbar-bg-dark: #181818;
$navbar-bg-light: #4d148c;
